@model System.Collections.Generic.IEnumerable<AzurePlayground.Models.Security.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table>
    <tr>
        <th>Display name</th>
        <th>Email address</th>
        <th>Description</th>
    </tr>

    @foreach (var user in Model) {
        <tr>
            <td>@(user.DisplayName ?? "Anonymous")</td>
            <td>@(user.Email ?? "Private")</td>
            <td>@user.Description</td>
        </tr>
    }
</table>