@{
    ViewBag.Title = "Email address changed";
}

<h2>Email address changed</h2>

<p>
    An email has been sent to the new email address with a validation link.
</p>

<p>
    Follow the link in the email or @Html.ActionLink("activate your account manually", "Activate").
</p>

<p>
    Please note that you will not be able to log in until the new email address has been confirmed.
</p>