@model AzurePlayground.Models.Security.UserRegistration

@{
    ViewBag.Title = "Registered successfully";
}

<p>
    You have registered successfully. An email has been sent to the provided email address with a validation link.
</p>